@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400;700&display=swap");
@layer base {
	@font-face {
		font-family: "Ikra";
		src: url("../../public/fonts/IkraSlab.ttf");
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Airone";
		src: url("");
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.corporativos-grid-h {
	height: 350px;
}
